3
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-debug-toolbar
django-filter
django-rest-framework
django-templated-mail
djangorestframework
djoser
drf-extra-fields
filetype
flake8
gunicorn
idna
isort
mccabe
oauthlib
packaging
Pillow
psycopg2
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyJWT
python-dotenv
python3-openid
pytz
reportlab
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
transliterate
tzdata
urllib3